# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.spec

# Virtual environment
env/
venv/
.env
.venv/

# VS Code
.vscode/

# Zip archives
*.zip

# Temporary files
temp_videos/
uploads/
violations/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
